.post {
    max-width: 100vh;
    margin:auto;
}

.repositories {
    display: flex;
    flex-direction: row;
    margin:auto;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 85vh !important;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
.mainHeader {
    margin-top: 5px;
    margin-bottom: 25px;
    text-align: center;
}
.card {
    max-width: 65vh;
    background-color: #151515;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-clip:border-box;
    margin-top:10px;
}

.cardHeader {
    font-size: 30px;
    color: #fdfdfd;
    margin: 7.5px;
}
.cardContent {
    margin: 7.5px;
    color: #9b9b9b;
    list-style: none;
}
.cardContentTimeline {
    display: flex;
    flex-direction: row;
   min-width:60vh;
}
.cardTime {
    min-width:75px;
    background-color: blue;
    border-radius: 5px;
    padding: 1px;
}

.timeFlex {
    min-width:15vh;
}

.timeInstanceHeader {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 18px;
}

.timeInstanceHeader a:visited {
    color: blue;
}

.timeInstanceListLabel {
    margin-bottom: 10px;
}

.cardContent ul li {
    float:none;
}




