.post {
    max-width: 100vh;
    margin:auto;
}

.repositories {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    flex-direction: row;
    margin:auto;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 85vh !important;
    grid-template-columns: 50% 50%;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
.repoHeader {
    margin-top: 5px;
    margin-bottom: 25px;
    text-align: center;
}
